@import "../../../variables.scss";

:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}


.droppable-area-right {
  position: absolute;
  right: 0;
  top:0;
  width: calc(50vw - 240px);
  min-height: 100vh;

}

.droppable-area-left {
  position: absolute;
  left: 0;
  top:0;
  width: calc(50vw - 240px);
  min-height: 100vh;
}


.todo-list {
  width: 480px;
  position: relative;
  z-index: 100;
  margin-bottom: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  @media(max-width: $screen-xs) {
    width: calc(100% - 10px);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {

    margin: 0;
    padding: 15px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    &:nth-child(even) {
      background-color: #f9f8f8
    }
    &.delete-cursor {
      cursor: copy;
    }

    &.dragged {

    }

    form {
      width: 100%;
      button {
        float: right;
      }
    }

    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;
      flex-basis: calc(100% - 30px);

      input {
        border: 0;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        outline: none;
        background-color: transparent;
      }

    }

    textarea {
      border: 0;
      padding: 0;
      width: 100%;
      outline: none;
      font-style: italic;
      font-size: 14px;
      color: $gray;
      resize: none;
      background-color: transparent;
    }

    p {
      flex-basis: 100%;
      font-style: italic;
      font-size: 14px;
      color: $gray;
      margin: 10px 0;
    }



  }


}
