@import "../../../variables.scss";

:host {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
.red-rectangle {
  background-color: red;
  width: 100px;
  height: 100px;
}

.droppable-area-right {
  position: absolute;
  right: 0;
  top:0;
  width: calc(50vw - 300px);
  min-height: 100vh;

}

.droppable-area-left {
  position: absolute;
  left: 0;
  top:0;
  width: calc(50vw - 300px);
  min-height: 100vh;
}


.todo-list {
  width: 600px;
  position: relative;
  z-index: 100;
  margin-bottom: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  @media(max-width: $screen-xs) {
    width: calc(100% - 10px);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {

    .task-container {
      margin: 0;
      padding: 15px 15px 15px 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: white;

      .date {
        flex-basis: 100px;
        height: 100px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        text-align: center;
        position: relative;

        angular2-date-picker {
          position: absolute;
          width: 100px;
          height: 100px;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.3s ease-in-out all;
          &:hover {
            opacity: 1;
          }
        }

        &:hover {
          angular2-date-picker {
            opacity: 1;
          }
        }

        h2 {
          margin: 30px 0 0 0;
          font-size: 20px;
        }
        h3 {
          margin: 0;
          font-size: 12px;
          font-style: italic;
          color: $gray;
        }
      }

      .description {
        flex-basis: calc(100% - 100px);
        flex-wrap: wrap;
        display: flex;
        padding-left: 10px;
      }
    }
    &:nth-child(even) .task-container {
      background-color: $very-light-gray;
    }

    form {
      width: 100%;
      .task-container {
        padding-bottom: 60px;
        position: relative;
      }

      button {
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
    }

    h1 {
      font-size: 20px;
      margin: 0;
      padding: 0;
      flex-basis: calc(100% - 30px);

      input {
        border: 0;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        outline: none;
        background-color: transparent;
      }

    }

    textarea {
      border: 0;
      padding: 0;
      width: 100%;
      outline: none;
      font-style: italic;
      font-size: 14px;
      color: $gray;
      resize: none;
      background-color: transparent;
    }

    p {
      flex-basis: 100%;
      font-style: italic;
      font-size: 14px;
      color: $gray;
      margin: 10px 0;
    }



  }


}
