<section class="todo-list" *ngIf="!loading" >
    <ul>
      <ng-container *ngFor="let task of todoList">
        <li mwlDraggable [dropData]="task" (dragEnd)="elementRotation = 0" (dragging)="dragging($event, task.id)" >
          <div class="task-container"  [style.transform]="getRotation(task.id)">
            <h1 >{{task.data.name}}</h1>
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="task.data.done" (change)="updateTask(task)"/>
              <i class="fa fa-check"></i>
            </label>
            <p>{{task.data.description}}</p>
          </div>
        </li>
      </ng-container>
      <li>
        <div class="task-container">
          <form [formGroup]="form">
            <h1>
              <input formControlName="name" placeholder="Enter new task title...">
            </h1>
            <p><textarea formControlName="description" placeholder="Enter description..."></textarea>
            </p>
            <button type="button" [disabled]="!form.valid" (click)="addTask()">Dodaj</button>
          </form>
        </div>
      </li>
    </ul>
</section>
<div class="loader" *ngIf="loading"></div>

<div class="droppable-area-right" mwlDroppable (drop)="removeTask($event)"></div>
<div class="droppable-area-left"  mwlDroppable (drop)="removeTask($event)"></div>


